{% extends "resources/resource_detail.html" %}

{% block resource_specific_details %}
<div class="row">
    <div class="col-12">
        <h3>Article Details</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 200px;">Document Type</th>
                        <td>Scientific Article</td>
                    </tr>
                    <tr>
                        <th>File Format</th>
                        <td>{{ object.document.file_format }}</td>
                    </tr>
                    <tr>
                        <th>Journal</th>
                        <td>{{ object.journal }}</td>
                    </tr>
                    <tr>
                        <th>Publication Date</th>
                        <td>{{ object.publication_date|date:"F j, Y" }}</td>
                    </tr>
                    {% if object.doi %}
                    <tr>
                        <th>DOI</th>
                        <td>
                            <a href="https://doi.org/{{ object.doi }}" target="_blank" rel="noopener">
                                {{ object.doi }}
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="mt-4">
            <h4>Citation</h4>
            <div class="card">
                <div class="card-body">
                    <p class="mb-0">{{ object.get_citation }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}