{% extends "resources/resource_detail.html" %}

{% block resource_specific_details %}
<div class="row">
    <div class="col-12">
        <h3>Course Details</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 200px;">Field of Study</th>
                        <td>{{ object.field }}</td>
                    </tr>
                    <tr>
                        <th>Academic Level</th>
                        <td>{{ object.get_academic_level_display }}</td>
                    </tr>
                    <tr>
                        <th>Teacher</th>
                        <td>{{ object.teacher.get_full_name|default:object.teacher.username }}</td>
                    </tr>
                    <tr>
                        <th>Institution</th>
                        <td>{{ object.institution.name }}</td>
                    </tr>
                    <tr>
                        <th>Academic Year</th>
                        <td>{{ object.academic_year }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}