{% extends "resources/resource_detail.html" %}

{% block resource_specific_details %}

<div class="mb-4">
    <h3 class="h5 border-bottom pb-2 fw-bold"><i class="bi bi-file-earmark-text me-2"></i>Tool Details</h3>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="mb-3">
                <span class="text-muted">Tool Type:</span>
                <strong class="ms-2">{{ object.get_tool_type_display  }} </strong>
            </div>
            <div class="mb-3">
                <span class="text-muted">Version:</span>
                <strong class="ms-2">{{ object.version }}</strong>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <span class="text-muted">Language:</span>
                <strong class="ms-2">{{ object.language|default:"Not specified" }}</strong>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}